#loginContainer  {
    padding-top : 10%
}
#signupContainer  {
    padding-top : 10%
}
#uploadpad  {
    margin-top : 15px
}
#dashboardmarg  {
    margin-top : 15px
}
#uploadpadMargin  {
    margin-top: 10px;
}
#dashboardMargin  {
    margin-top: 10px;
}
#signupheader {
    padding:10px;background-color:#e8e8e8
}
#signupbody {
    padding:10px;background-color:#e8e8e8
}
#signinheader {
    padding:10px;background-color:#e8e8e8
}
#signinbody {
    padding:10px;background-color:#e8e8e8
}
#uploadFormBody {
    padding:30px;background-color:#e8e8e8
}
#dashboardBody {
    padding:0px;
    background-color:#e8e8e8
}
#cardMargin {
    /*padding:20px;*/
}
#declineBox {
    margin-top:10px;
}
#message {
    padding-left: 20px;
    color : #5cb3fd;
}
#declineMessage {
    margin-bottom: 10px;
    color : green;
}
#admdeclineMessage {
    margin-bottom: 10px;
    color : green;
}
#decResCardImg {
    margin-bottom: 10px;
    color : red;
}
.span {
    color: red;
}
.tableLabel {
    font-weight: bold;
}
.hrefButton {
    background-color: white;
    border: 0px;
}
#dashboardMargin2 {
    margin-top: 15px;
}
#dashboardBody2 {
    margin: 20px;
    padding-bottom: 20px;
    background-color:#e8e8e8
}
#updateMessage {
    padding-left : 20px;
}
.table td, .table th {
    padding-left: .75rem !important;
    padding-right: .75rem !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.input-group {
    /*padding-bottom:  20px;*/
}
body {
    background-color: slategrey;
}
#followDeclinereas {
    color: red;
}

form, p, span {
    margin:0;
    padding:0; }

input { font:12px arial; }

a {
    color:#0000FF;
    text-decoration:none; }

a:hover { text-decoration:underline; }

#wrapper, #loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    /*background:#EBF4FB;*/
    /*width:504px;*/
    /*border:1px solid #ACD8F0; }*/
}
#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    /*background:#fff;*/
    height:270px;
    width:430px;
    /*border:1px solid #ACD8F0;*/
    overflow:auto;

}

#usermsg {
    border:1px solid #ACD8F0;
}

/*#submit { width: 60px; }*/

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.sender  {
    background-color: #e8e8e8;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.receiverr  {
    background-color: #e3eee0;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}