<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title</title>
    <script type="text/javascript" src="jquery.js" />
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="custom.css" />
    <script type="text/javascript" src="dashboardjs.js" />
    <link href="main.css" rel="stylesheet" />
    <!--<script src="sockjs.min.js"></script>-->
    <!--<script src="stomp.min.js"></script>-->
    <!--<script src="websocket.js"></script>-->
</head>
<body>

<div>
    <div id="wrapper">
        <div id="menu">
            <div style="clear:both"></div>
            <div id="cardDet" th:text="${cardId}" hidden="hidden"></div>
            <div id="lastFetchedM" th:text="${lastCardMId}" hidden="hidden"></div>
        </div>
        <div id="chatbox">
            <div th:each="message:${messages}">
                <div th:if="${message.sentBy.role}==${role}">
                <div th:text="${message.message}" class="col-md-12 text-right sender"></div>
                </div>
                <div th:if="${message.sentBy.role}!=${role}">
                <div th:text="${message.message}" class="col-md-12 text-left receiverr"></div>
                </div>
            </div>
            </div>
        <form name="message" method="post" action="javascript: admnPostMessage()" class="input-group">
            <input name="usermsg" type="text" id="usermsg" placeholder="type here..." class="form-control" />
            <input name="submitmsg" type="submit" class="btn btn-primary" id="submitmsg" value="Send" />
            <input type="hidden" id="sendMessageId" onclick="sendAdminMessage(this.form)" />
        </form>
    </div>
</div>
<script>

    $(document).ready(function () {
        var objDiv = $("#chatbox");
        var objM = objDiv.get(0).scrollHeight;
        objDiv.animate({scrollTop:objM});
    })
</script>
</body>
</html>